<div>
  <div class="signup-container">
      <ul>
        {{#each option in signup.options}}
          {{signup-option option=option toggle="toggleOption"}}
          {{signup-names opttion=option }}
          <hr />
        {{/each}}
      </ul>
  </div>
  <div class="signup-info">
    <p>
      <span class="info-number">{{signup.voters}}</span>
      <span class="info-text">{{votersText}}</span>
    </p>
    {{#if isMultiple}}
        <p>
          <span class="info-number">{{totalVotes}}</span>
          <span class="info-text">{{totalVotesText}}</span>
        </p>
        <p>{{{multipleHelpText}}}</p>
    {{/if}}
  </div>
</div>

<div class="signup-buttons">
  {{#if isMultiple}}
    {{d-button class="cast-votes" title="signup.cast-votes.title" label="signup.cast-votes.label" disabled=castVotesDisabled action="castVotes"}}
  {{/if}}

  {{#if canToggleStatus}}
    {{#if isClosed}}
      {{d-button class="toggle-status" title="signup.open.title" label="signup.open.label" icon="unlock-alt" action="toggleStatus"}}
    {{else}}
      {{d-button class="toggle-status btn-danger" title="signup.close.title" label="signup.close.label" icon="lock" action="toggleStatus"}}
    {{/if}}
  {{/if}}
</div>
